{% extends 'public/base_cpanel.html' %}
<!-- Cambiando el título -->
{% block title %}ApexTech 🤖 | Sensor de Humo{% endblock %}
<!-- Inicio del bloque -->
{% block body %}

<div class="card" style="border-radius: 0px !important; background-color: #192a56; color: #ffffff; border: 4px solid #001f3f; box-shadow: 0 0 10px rgba(52, 152, 219, 0.8);">
  <div class="row justify-content-center mb-2">
    <div class="col-md-12 mb-4">
      <h3 class="text-center mt-5 mb-3" style="color: #ffffff;">DATOS DEL SENSOR DE HUMO</h3>
      <hr />
    </div>

    <div class="row justify-content-center mb-2">
      <div class="table-responsive text-nowrap table-hover">
        <table table-hover id="tbl_humo" class="table table-striped table-bordered" cellspacing="0" width="100%" style="color: #ffffff;">
          <thead>
            <tr style="background-color: #001f3f;">
              <th>ID</th>
              <th>Fecha</th>
              <th>Valor</th>
            </tr>
          </thead>
          <tbody>
            {% for humo in humos %}
            <tr id="{{ humo.id_humo }}">
              <td>{{ humo.id_humo }}</td>
              <td>{{ humo.fecha }}</td>
              
              <td style="font-size: {% if humo.valor >= 50 %}20px; color: red{% else %}inherit{% endif %}">{{ humo.valor }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

{% endblock %}
