<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Login Form Design One | Fazt</title>
  <link rel="stylesheet" href="/css/my_style.css">
</head>
<body>

  <div class="login-box">
    <img src="{{ url_for('static', filename ='./assets/img/logo_1.jpg') }}" class="avatar" alt="Avatar Image">
    <h1></h1>
    <h1></h1>
    <h1></h1>
    <h1></h1>
    <h1></h1>
    <form id="formAuthentication" class="mb-3" action="{{ url_for('loginCliente') }}" method="POST">
      <div class="mb-3">
        <label for="cedula" class="form-label label-cedula">Cédula &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;👤</label>
        <input
          type="text"
          class="form-control"
          name="cedula"
          placeholder="Escribe tu cédula"
          autofocus
          required />
      </div>

      <div class="mb-3 form-password-toggle">
        <div class="d-flex justify-content-between">
          <label class="form-label label-password" for="password">Clave&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;🔒</label>
        </div>
        <div class="input-group input-group-merge">
          <input
            type="password"
            class="form-control"
            name="pass_user"
            id="pass_user"
            placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
            aria-describedby="password"
            required />
        </div>
      </div>

      <div class="mb-3">
        <button class="btn btn-primary w-100" type="submit" style="color: white;">
          Entrar ahora
          <i class="bi bi-arrow-right-circle"></i>
        </button>
      </div>
      </form>
      </div>

</body>
</html>

